<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Figmite</title>
</head>
<body>
    <img src="https://i.imgur.com/biVYIBA.png" alt="The Logo of Figmite" id="logo">
    <div id="main_text">Welcome to <span id="main_span">FigMatic</span> </div>
    <button id="count_button">Count is <span id="count_span">0</span></button>
    <div id="sub_text">Explore and enjoy the seamless experience we've created<br>just for you</div>

    <script src="script.js"></script>
</body>
</html>